@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #fdfdfd;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #b9b9b9;
    height: 20px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #fdfdfd;
}